.news-img {
    width: 100%;
    height: 100%;
}
.article-details {
    gap: 1em;
    display: flex;
    flex-direction: column;
    .article-title {
        font-size: 32px;
        line-height: 1.3;
        font-weight: bold;
    }
    .article-description {
        &::first-letter {
            font-size: 200%;
        }
    }
}